/* File to configure style using CSS*/

            QMainWindow{
                /*background-color:'#333333';*/
                background-image: url('logo_orif_square_transparent.png');
                background-size: cover;
                
            }
             QPushButton#AdminButton{
            
                background-color:'#005BA9';
                border: none;
                font-size:15px;
                font-weight:none;
                color:white;
            }
            
            QPushButton{
            
                background-color:'#005BA9';
                border: none;
                font-size:120px;
                font-weight:BOLD;
                color:white;
            }
            